<!DOCTYPE html>
<html lang=ru>
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/media.css">
    <link rel="stylesheet" type="text/css" href="/normalize.css">
    <title>CRAFTER</title>
	</head>
<body>
  <main>
    <section>
      <div class="head__wrap__error">
            <form id="beer-form" method="post" action="/edit-beer">
              <div class="id_beer">
                  <h1><input type="text" name="title"></h1>
                  <h1><input type="text" name="degree">.0 %</h1>
                  <h1><input type="text" name="price"> р</h1>
                  <h1><input type="text" name="price_two"> р</h1>
                   <input type="submit" value="Submit">
              </div>
            </form>
      </div>
    </section>
  </main>
</body>
</html>